force-app/main/default/flows/Escalate_leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Escalation_Email</name>
        <label>Escalation Email</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Lead.Email_Alert_Escalation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Email_Alert_Escalation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Escalation_Email</name>
        <label>Send Escalation Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>2F00X8d000002EcCq</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Time_to_escalate</name>
        <label>Time to escalate?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_Hour_escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calculate_hours_to_escalate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Escalation_Email</targetReference>
            </connector>
            <label>1 Hour escalation</label>
        </rules>
        <rules>
            <name>X2_Hour_escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calculate_hours_to_escalate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalation_Email</targetReference>
            </connector>
            <label>2 Hour escalation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calculate_hours_to_escalate</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Lead_Status_Changed_to_Contacted_DateTim__c} - NOW())*24*60</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Escalate leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Escalate leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Time_to_escalate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working - Contacted</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
